body {
  background-color: #eeeeee !important;
}

.clickable {
  cursor: pointer;
}

.bg-light-blue {
  background-color: #e7f1ff !important;
}

.bg-dark-c {
  background-color: #212529!important;
  color: white;
}

.bg-dark-blue {
  background-color: #3a5ec4!important;
  color: white;
}

.pull-right {
  float: right;
}

.title h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.title img {
  height: 48px;
}

.title h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}

.title h1 em {
  font-style: normal;
  font-weight: 600;
}

.title h1 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}

.title h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}

.title h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 300px;
  background-color: #333;
}

#ww-plates-load-options-calc-container {
  padding: 16px 20px;
}

#workout-wizard-panel {
  position: relative;
}

.workout-wizard-step-panel {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  border: none !important;
}

#ww-plate-load-selected-option-panel-container {
  display: none;
}

#workout-wizard-panel-settings-allow-calc-delta-container {
  padding-left: 1.25rem!important;
}

#workout-wizard-plates-settings-modal-content thead, tr:not(:last-of-type) {
  border-bottom: 1px solid #dee2e6;
}

#workout-wizard-plates-settings-modal-content .form-switch {
  position: relative;
  left: 50%;
  transform: translateX(-25%);
}

.horizontal-aligned-badge {
  position: absolute !important;
  right: 5px;
  top: 50% !important;
  transform: translateY(-50%) !important;
}